        .about-content span {
            color: rgb(2, 2, 2);
        }

        :root {
            --bg-color: #1f242d;
            --second-bg-color: #323946;
            --text-color: #fff;
            --main-color: #0ef;
        }

        .about {

            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2rem;

        }

        .about-img img {

            width: 20vw;
        }

        .heading {
            color: rgb(0, 0, 0);
            text-align: center;
            font-size: 4.5rem;

        }

        .about-content h2 {
            text-align: left;
            line-height: 1.2;
        }

        .about-content h3 {
            line-height: 1.2;
            font-size: 1.2rem;
        }

        .about-content p {

            font-size: 1.6rem;
            margin: 2rem 0 3rem;
            color: rgb(0, 0, 0);
        }

        .service h2 span {
            color: rgb(0, 0, 0);
            ;
            margin-bottom: 1rem;


        }

        .service-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 1rem;
        }

        .service-container .service-box {
            flex: 1 1 5rem;
            background: var(--second-bg-color);
            padding: 2rem 2rem 4rem;
            border-radius: 1rem;
            text-align: center;
            border: .2rem solid var(--bg-color);
            transition: .5s ease;

        }

        .service-container .service-box:hover {
            border-color: var(--main-color);
            transform: scale(1.02);
        }

        .service-box i {
            font-size: 8.5rem;
            color: #0ef;
        }

        .service-box h1 {
            font-size: 1.2rem;
            color: darkorange;
        }

        .service-box p {

            font-size: 0.9rem;
            margin: 1rem 0 3rem;
            color: rgb(255, 255, 255);
        }



        .header {
            min-width: 100vh;
            height: 100vh;
            background-position: center;
            background-size: cover;
            position: relative;
        }

        nav {
            display: flex;
            padding: 2% 6%;
            justify-content: space-between;
            align-items: center;

        }

        nav img {
            width: 250px;
        }

        .nav-link {
            flex: 1;
            text-align: right;
        }

        .nav-link ul li {
            list-style: none;
            display: inline-block;
            padding: 8px 12px;
            position: relative;
        }

        .nav-link ul li a {
            color: #000000;
            text-decoration: none;
            font-size: 13px;
        }

        .nav-link ul li::after {
            content: "";
            width: 0%;
            height: 2px;
            background: #f44336;
            display: block;
            margin: auto;
            transition: 0.5s;
        }

        .nav-link ul li:hover::after {
            width: 100%;
        }

        .contact-us {
            margin: 100px auto;
            width: 80%;
            background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/banner2.jpg);
            background-position: center;
            background-size: cover;
            border-radius: 10px;
            text-align: center;
            padding: 100px 0;
        }

        .contact-us h1 {
            color: #fff;
            margin-bottom: 40px;
        }

        .footer {
            width: 80%;
            margin: auto;
            text-align: center;
            padding-top: 100px;
        }

        h1 {
            font-size: 36px;
            font-weight: 600px;
        }

        p {
            color: #777;
            font-size: 14px;
            font-weight: 300;
            line-height: 22px;
            padding: 10px;
        }

        .row {
            margin-top: 5%;
            display: flex;
            justify-content: space-between;
        }

        .footer-col {
            flex-basis: 31%;
            border-radius: 10px;
            margin-bottom: 5%;
            padding: 20px 12px;
            box-sizing: border-box;
        }

        .footer-col p {
            text-align: left;
        }

        .icon .fa-brands {
            color: #f44336;
            margin: 0 13px;
            cursor: pointer;
            padding: 18px;
        }

        .icon .fa-solid {
            color: #f44336;
            margin: 0 13px;
            cursor: pointer;
            padding: 18px 0;
        }

        .fa-regular {
            color: #f44336;
            margin: 0 13px;
            cursor: pointer;
            padding: 18px 0;
        }