body{
            background-color: white; /* Set background color to gray */
            margin: 0px; /* Remove default margin */
            padding: 0; /* Remove default padding */
        }

        .header_mis {
            background-color: #808080; /* Set header background color to gray */
            color: #ffffff; /* Set text color to white */
            text-align: center; /* Center align text */
            padding: 400px; /* Add padding to the header */
            margin-bottom: 10px; /* Add margin at the bottom to separate header from content */
        }

        .content_mis {
            font-size: 25px;
            text-align: justify; /* Set default text alignment to justify */
            margin: 200px; /* Add margin to the content area */
        }

        .content_mis p:first-child {
            text-align: left; /* Align the first <p> element to the left */
            color: blue; /* Set color for the first <p> element */
        }

        .content_mis img {
            float: left; /* Float the image to the left */
            margin-right: 25px; /* Add some margin to the right of the image to create space */
		}
		  .image-container {
            display: flex;
            justify-content: space-between;
		  align-items: center;}
		   .image-container img {
            width: 100%; /* Adjust the width as needed */
		   height: auto; /* Maintain aspect ratio */
		   }